#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  margin-top: 60px;
}

.row {
  display: flex;
}

.cell {
  height: 35px;
  width: 35px;
  border: solid thin #999;
  font-size: 8px;
}

.row:nth-child(even) .cell:nth-child(even) {
  background-color: #ffe4c4;
}

.row:nth-child(even) .cell:nth-child(odd) {
  background-color: #ffdead;
}

.row:nth-child(odd) .cell:nth-child(odd) {
  background-color: #ffe4c4;
}

.row:nth-child(odd) .cell:nth-child(even) {
  background-color: #ffdead;
}

.row .cell.current {
  background: black !important;
  color: white;
}
